﻿@model GestorDePersonas.Model.CasarViewModel

<h2>Registros disponibles</h2>

<table class="table">
    <tr>
        <th>
            Nombre
        </th>
        <th>
            Primer Apellido
        </th>
        <th>
            Segundo Apellido
        </th>
        <th>
            Edad
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model.PersonasDisponibles)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrimerApellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SegundoApellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Edad)
            </td>

            <td>
                @Html.ActionLink("Casar", "Casar", new { id = item.Id, idPersona = Model.IdPersona })

            </td>
        </tr>
    }


</table>
<p>
    @Html.ActionLink("Regresar", "Index")
</p>
