﻿@model IEnumerable<GestorDePersonas.Model.Personas>

@{
    ViewBag.Title = "RegistroDePersonas";
}

<h2>Registro de personas</h2>

<p>
    @Html.ActionLink("Registrarse", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrimerApellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SegundoApellido)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.FechaDeNacimiento)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Edad)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.NombreDelPadre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreDeLaMadre)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.CantidadDeHijos)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.EstadoCivil)
        </th>

        <th>

        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrimerApellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SegundoApellido)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.FechaDeNacimiento)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Edad)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.NombreDelPadre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NombreDeLaMadre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CantidadDeHijos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EstadoCivil)
        </td>

        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.Id })|-|
            @Html.ActionLink("Casarse", "Casarse", new { id = item.Id }) |-|
            @Html.ActionLink("Detalle", "Detalle", new { id = item.Id }) |-|

        </td>
    </tr>
}

</table>
